@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "inter", sans-serif;
}
body {
  background-color: rgb(244, 229, 212);
}
* {
  margin: 0;
  padding: 0;
}
/* side navbar*/

.side-navbar-border {
  width: 50%;
  height: 100%;
  background-color: rgb(33, 46, 33);
  position: fixed;
  top: 0;
  left: -50%;
  transition: 0.5s;
}
.side-navbar-content a {
  color: white;
  padding: 20px;
  text-decoration: none;
  margin: 20px;
}
.close-side {
  color: white;
  padding: 20px;
  text-align: right;
}
.side-navbar-contents {
  margin-bottom: 30px;
}
.side-navbar-contents :hover {
  background-color: red;
  color: white;
  border-radius: 15px;
}
/* side navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-content {
  display: flex;
}
.navbar-content a {
  text-decoration: none;
  padding: 25px;
  color: rgb(28, 2, 53);
}
.navbar-content a:hover {
  background-color: red;
  color: white;
  border-radius: 10px;
  border-style: solid;
}
.one:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.imgg {
  width: 500px;
  height: 400px;
  border-radius: 15px;
}
i:hover {
  color: red;
  transform: scale(1.5);
  transition: 0.3s;
}
.body-center {
  display: flex;
  align-items: center;
  margin: 40px;
  margin-left: 20%;
  margin-top: 120px;
}
.topics {
  margin: 50px;
}
.firsth3 {
  color: red;
  font-size: 50px;
  font-weight: 100px;
}
.button-div {
  width: 170px;
  height: 40px;
  background-color: red;
  color: white;
  border-radius: 20px;
  position: relative;
  padding: 20px;
}
.butt {
  text-decoration: none;
  color: white;
  position: absolute;
  margin-left: 15px;
  padding: 10px;
}
.butt:hover {
  cursor: pointer;
}
.topics {
  margin: 20px;
}
.sec {
  font-size: 18px;
  padding: 20px;
}
.content-para {
  padding: 50px;
  text-align: center;
}
.para-class {
  padding: 20px;
  text-decoration: underline;
  color: rgb(234, 87, 87);
}
.gympic {
  height: 200px;
  width: 200px;
}
.gymphotos {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
.one {
  background-color: rgb(207, 229, 221);
  padding: 10px;
  height: 300px;
  width: 200px;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
}
h4 {
  padding: 5px;
}
.three {
  margin-left: 710px;
  padding: 10px;
}
.two {
  margin: 50px;
}
.fullblack {
  background-color: black;
  color: white;
}
.contact {
  text-align: center;

  margin-bottom: 25px;
}
.contact-space {
  padding: 30px;
  width: 400px;
  height: 350px;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 20px;
  margin-left: 530px;
}
.fullblack,
.contact-space {
  padding: 20px;
}
.last {
  padding: 20px;
  font-size: 20px;
}
.icons {
  font-size: 25px;
  text-align: center;
  column-gap: 20px;
}
/* second page*/
.center {
  width: 700px;
  height: 100%;
  border: 5px solid rgb(225, 168, 168);
  box-shadow: 50px;
  margin: auto;
  background-color: black;
  color: white;
  font-size: 20px;
}
.bodycenter {
  padding: 20px;
}
.six {
  text-align: center;
  color: aqua;
}
.table1 {
  border: 2px solid white;
  padding: 20px;
}
.btnn {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  background-color: rgba(80, 80, 215, 0.827);
  color: white;
  font-size: 30px;
  border-radius: 5px;
}
span {
  font-size: 15px;
  color: rgb(234, 87, 87);
}
.bar-toggle {
  display: none;
}
@media screen and (max-width: 700px) {
  .bar-toggle {
    display: block;
  }
  .navbar-content {
    display: none;
  }
  .body-center {
    flex-direction: column;
  }

  .gymphotos {
    flex-direction: column;
  }

  .one {
    flex-direction: column();
    margin-left: 80px;
    margin-top: 10px;
  }
  .fullblack {
    flex-direction: column;
  }
  .contact-space {
    flex-direction: column;
    margin-left: -18px;
  }
  .three {
    margin-left: 150px;
  }
  .imgg {
    width: 90%;
  }
  .center {
    width: 500px;
    height: 100%;
  }
}
